extends layout

block content
  div
    img(src='/static/image/MTECH-Logo.jpg')
  h1 Backend Day 13 - #{title}
  p= title
  div
    a(href='/students') Protected Student's Page
  div
    a(href='/login') Login  
  div
    a(href='/logout') Logout
